.about_content {
    display: flex;
    flex-direction: row;
}
.about h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 60px;
}
.about_description {
    border: 1px solid rgb(107, 106, 106);
    font-size: 25px;
    line-height: 1.6;
    margin: 70px;
    padding: 30px;
    border-radius: 30px;
    height: 500px;
    width:900px
}
.about_description:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease-in-out;
}
.anime img{
    height: 630px;
    width: 420px;
}