.contactpage {
    background-color: black;
    color: white;
    height: 100vh;
    padding-top: 100px;
}

.title {
    color:goldenrod;
    text-align: center;
}

.SM_logos{
    color: white !important;
    height: 30px;
    width: 30px;
    margin-left: 20px;
}
.submit{
    height: 45px;
    width: 125px;
    border-radius: 40px;
}
