.contactpage {
    background-color: black;
    color: white;
    height: 100vh;
    text-align: center;
}

.title {
    padding-top: 70px;
    text-align: center;   
}

form {
    max-width: 1000px;
    padding: 20px;
}

.submit {
    height: 45px;
    width: 125px;
    border-radius: 40px;
    color: black;
    border: none;

}

.follow_box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.SM_logos {
    color: white !important;
    height: 30px;
    width: 30px;
    transition: transform 0.3s, color 0.3s;
}

.SM_logos:hover {
    color: goldenrod;
    transform: scale(1.2);
}
