/* Navbar */
.home_page{
    padding: 20px;
    text-decoration: none;
}
.Nav_bar{
    display: flex;
    flex-direction: column;
}

.Nav_first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}
.Nav_second{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50px;
}.side_bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50px;
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}