.Nav_bar {
    background-color: #ffffff2e;
    font-size: large;
    border-radius: 100px;
    width: 460px;
    height: 60px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Nav_bar .nav-link {
    color: #ffffff !important;
}

.Nav_bar .nav-link:hover {
    color: rgba(230,238,248,0.9) !important;
}