.Nav_bar {
    background-color: rgba(0, 0, 0, 0.85);
    color: white !important;
    border-radius: 0 0 12px 12px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(66, 64, 64, 0.6);
    margin: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}