 .page2 {
     background-color: black;
     color: white;
     padding-top: 100px;
 }

 .title {
     text-align: center;
     color: goldenrod;
 }

 .skills {
     display: flex;
     flex-direction: row;
     justify-content: center;
     gap: 200px;
 }

 .Skills_box {
     border: 2px solid goldenrod;
     padding: 20px;
     font-size: larger;
     width: 500px;
     height: 500px;
 }
 :hover.Skills_box{
    background-color: goldenrod;
    color: black;
 }